.content {
    display: grid;
    grid-row-gap: 10px;
}

.button-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    width: min-content;
}

.content > div > p {
    line-break: anywhere;
}