@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Rubik";
  src: url("https://sf6-cdn-tos.douyinstatic.com/obj/eden-cn/slepweh7nupqpognuhbo/Inter-Bold.ttf") format("ttf");
}

:root {
  font-family: 'Rubik', sans-serif !important;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --theme-main-dark: #141414;
  --theme-main-medium: #1f1f1f;
  --theme-main-light: #252525;
  --theme-main: #212121;
}

html {
  background: var(--theme-main);
}

* {
  margin: 0;
}

.semi-input-prefix > i {
  margin-right: 10px;
}

Button.main {
  background: #3a3a3a;
  border-radius: 3px;
  margin: 5px;
}

Button.main:hover {
  background: #474747;
}

Button.section {
  background: var(--theme-main-dark);
  width: 100%;
  box-sizing: border-box;
}

.semi-card-body {
  padding: 10px;
}

.semi-image-img {
  border-radius: 3px;
}