:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
}

html {
  flex-direction: row;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 70px 250px auto;
  grid-template-rows: 80px auto;
  height: 100vh;
}

body {
  width: 100%;
}

header {
  background: red;
  grid-row: 1;
  grid-column: 1 / 4;
}

aside.sidebar-left {
  background: purple;
  grid-row: 2;
  grid-column: 1 / 2;
  bottom: 0;
}

aside.sidebar {
  background: hotpink;
  grid-row: 2;
  grid-column: 2 / 3;
}

body.content {
  background: lime;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
  background: yellow;
}
