.container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.wrapper {
    margin: 20px 0 20px 0;
}

.message {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 12px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 5px;
}

.message:hover {
    background: var(--theme-main-dark);
}

.message > img {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}