.container {
    aspect-ratio: 16 / 9;
    background: black;
    overflow-y: hidden;
    position: relative;
}

.wrapper {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.controls {
    bottom: 0;
}

.player {
    object-fit: contain;
    max-height: 100%;

    margin: auto;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr 80px auto auto;
    grid-gap: 5px;
    align-items: center;

    padding: 5px;
}

button.control {
    width: 30px;
    height: 30px;
    position: relative;

    padding: 10px;
    border-radius: var(--theme-props-border-radius-min);
    border: none;
    transition: background .3s ease;
}

button.control:hover {
    background: var(--theme-schema-main);
}

button.control > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;

    color: white;
}

.video-range {
    background: rgba(128, 128, 128, 0.80);
    border-radius: 25px;
    height: 6px;
}

.video-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 12px;
    height: 12px;
    border-radius: 25px;
    background: white;
    cursor: pointer;

    border: solid 1px gray;
}