.container {
    background: var(--theme-main-dark);
    right: 0;
    left: 0;

    padding: 25px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
}

.header > img {
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
}

.container > img {
    width: 100px !important;
    height: 100px !important;
}

.container > * > p {
    font-size: 18px;
}

.content {
    margin: 20px;
}

@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 500px) {
    .buttons-wrapper > * {
        width: 100%;
    }
}