.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    margin: 0px 10px 0px 10px;
}

.navbar > a {
    font-size: 40px;
    text-decoration: none;
    font-weight: 800;
    color: var(--theme-schema-main);
}

@media screen and (max-width: 500px) {
    .buttons-wrapper {
        visibility: hidden;
    }
}