.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    margin: 0 10px;

    overflow: hidden;
}

.navbar > a {
    font-size: 40px;
    text-decoration: none;
    font-weight: 800;
    color: var(--theme-schema-main);
}

 screen and (max-width: 500px) {
    .buttons-wrapper, .search-bar-wrapper {
        visibility: hidden;
    }
}

#selection {
    background: var(--theme-main-dark);

    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: 200px;
    margin: auto;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 4px;
}