.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
}

.navbar > a {
    font-size: 40px;
    text-decoration: none;
    font-weight: 800;
    color: var(--theme-schema-main);
}

.navbar > * {
    display: inline-block;
}

.search-bar-wrapper {

}