.wrapper {
    background: var(--theme-main-medium);
    border-radius: 3px;
    padding: 12px;

    display: grid;
    grid-template-columns: 1fr auto;
}

.wrapper > p {
    display: flex;
    align-items: center;
}

.content-wrapper > * {
    display: inline-block;
}