.wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;

    background: var(--theme-main-medium);
    border-radius: var(--theme-props-border-radius);
    padding: 8px;
    align-items: center;
}