.wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    background: var(--theme-main-medium);
    border-radius: 3px;
    padding: 8px;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}