.container {
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    margin: 0 10px;
}

.wrapper > p {
    margin: 10px;
}