.wrapper {
    padding: 10px;
    border-radius: var(--theme-props-border-radius);
    background: var(--theme-main-medium);
}

.wrapper > textarea {
    color: white;
    resize: none;
    width: 100%;
    background: none;
}

.wrapper > textarea:focus {
    outline: none;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
}

.buttons-wrapper > * {
    display: inline-block;
    align-self: flex-end;
}