.wrapper {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: var(--theme-main-medium);
}

.wrapper > textarea {
    color: white;
    resize: vertical;
    max-height: 200px;
    width: 100%;
    background: none;
}

.wrapper > textarea:focus {
    outline: none;
}