.wrapper {
    background: var(--theme-main-medium);
    border-radius: var(--theme-props-border-radius);
    padding: 12px;

    grid-template-columns: 1fr auto;
}

.wrapper > p {
    display: flex;
    align-items: center;
}

.content-wrapper > * {
    display: inline-block;
}

@media screen and (min-width: 600px) {
    .wrapper {
        display: grid;
    }
}