.comment-box {
    padding: 10px;
    border-radius: 3px;
    margin: 12px 0;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.comment-box:hover {
    background: var(--theme-main-medium);
}

.header {
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
}

.button-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: min-content min-content;
}