.video-data-wrap {
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 12px;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}