.wrapper {
    text-align: center;
}

.video-card {
    display: inline-block;

    padding: 8px;
    border-radius: 3px;

    background: none;
    text-align: left;
    border: none;
    cursor: pointer;
}

.video-card:hover {
    background: var(--theme-main-dark);
}

.video-card > img {
    border-radius: 3px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}