.search-bar {
    position: relative;
    background: #414141;
    border-radius: 3px;
    width: 500px;
    padding: 10px;

    transition: width .3s;
}

.search-bar:hover {
    background: #414141;
}

.search-bar:has(input:focus) {
    width: 700px;
}