.search-bar {
    position: relative;
    background: #414141;
    border-radius: 3px;
    width: 500px;
    padding: 10px;
    border: none;

    transition: width .3s;
}

.search-bar:hover {
    background: #414141;
}

.search-bar:has(input:focus) {
    width: 700px;
}

.search-bar > input {
    color: white;
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    margin-left: 10px;
    outline: none;
}

.search-bar > i {
    color: white;
    vertical-align: center;
}