.popover-content {
    background: var(--theme-main-dark) !important;
    border: none !important;
    border-radius: var(--theme-props-border-radius) !important;
    padding: 10px;
}

.popover-close-button {
    color: white;
}