.wrapper {
    text-align: center;
}

.video-card {
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
    background: none;
    text-align: left;
    border: none;
}

.video-card:hover {
    background: var(--theme-main-medium);
}

.box > p {
    color: white;
}