.full-layout {
    height: 100%;

    display: grid;
    grid-template-columns: auto;
}

.header {
    min-height: 40px;
    background: var(--theme-main-light);
    border: solid 1px black;
}

.sidebar-left {
    display: flex;
    flex-flow: column;

    grid-column: 1;

    background: pink;

    height: 100%;
}

.container {
    grid-column: 2;
    background: red;
}