.full-layout {
    height: 100vh;
}

.header {
    min-height: 40px;
    background: var(--theme-main-light);
    border: solid 1px black;
}

.slider {
    background: var(--theme-main-dark);
    min-width: 70px;
}