.wrapper {
    background: #1f1f1f;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper > * {
    display: inline-block;
}

.input-wrapper {
    max-width: 200px;
}

.input-wrapper:has(input:focus) {
    max-width: 300px;
}