.header > .container {
    background: var(--theme-main-dark);
    right: 0;
    left: 0;

    padding: 25px !important;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
}

.header > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container > img {
    width: 100px !important;
    height: 100px !important;
}

.container > * > p {
    font-size: 18px;
}