.tab {
    color: white !important;
}

.tab-panel {
    padding: 0 !important;
}

.tab-list {
    justify-content: center !important;
    border: none !important;
    text-align: center;
}

.header {
    margin: 20px;
}